@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
:root{
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ffffff;
    --main-color: aqua;
    --second-main-color:yellow;
    --about-bg-color: #0b283d;
    
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
}
.header.sticky{
    background: var(--bg-color);
}
.logo{
    font-size: 2.7rem;
    font-weight: 700;
    color: var(--text-color); 
    transition: .8s;
}
.logo:hover{
    color: var(--second-main-color);
}
.navbar a{
    font-size: 2.7rem;
    color: var(--text-color);
    font-weight: 600;
    margin-left: 3.5rem;
    transition: .3s; 
}
.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
    
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
.home{
    display: flex;
    align-items: center;
    padding: 0 9%;
    background: url('/images/home_2.png') no-repeat;
    background-size: cover;
    background-position: center;
}
.home_content{
    max-width: 60rem;
    z-index: 99;
}
.home_content h1{
    font-size: 4.8rem;
    font-weight: 700;
    line-height:2;
    
}
.home_content h1 span{
    color: var(--main-color);
}
.home_content .text_animate{
    position: relative;
    width: 32.8rem;
}

.home_content .text_animate h3{
    font-weight: 700;
    font-size: 3.2rem;
    color:var(--text-color); 
    margin: auto;
    animation: lights 5s 750ms linear infinite;
}
@keyframes lights {
    0% {
      
      color: hsl(230, 40%, 80%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
    
    30% { 
      
      color: hsl(230, 80%, 90%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    
    40% { 
      
      color: hsl(230, 100%, 95%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 90%, 0.5),
        -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
        0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
    }
    
    70% {
      opacity: 70%;
      color: hsl(230, 80%, 90%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    
    100% {
        opacity: 100%;
      color: hsl(230, 40%, 80%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
    
  }

.home_content p{
    font-size: 2rem;
    margin: 2rem 0 4rem;
    line-height: 27px;
    
}
.btn-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
}
.btn-box .btn{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background-color: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .9rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
}
.btn-box .btn:nth-child(1){
    color: var(--bg-color);
}
.btn-box .btn:nth-child(1):hover{
    color: var(--main-color);
}
.btn-box .btn:nth-child(1)::before{
    color: var(--bg-color);
}
.btn-box .btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:var(--bg-color);
    z-index: -1;
    transition: .5s;
}
.btn-box .btn:hover::before{
width: 100%;
}
.home-sci{
    position: absolute;
    bottom: 12rem;
    width: 200px;
    display: flex;
    justify-content: space-between ;

}
.home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 30px;
    color: var(--main-color);
    z-index: 1;
    overflow: hidden;
    transition:.5s;
}
.home-sci a:hover{
    color: var(--bg-color);
}
.home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
}
.home-sci a:hover::before{
    width: 100%;
}
/* .home-imgHover{
    position: absolute;
    
    top: 0;
    right: 0;
    width: 53%;
    height: 100%;
    background: transparent;
    transition: 2s;
    opacity: .8;
}
.home-imgHover:hover{
    background: var(--bg-color);
    
} */
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: var(--about-bg-color);
    padding-bottom: 6rem;
}
.heading{
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}
span{
    color: var(--main-color);
}
.about-img{
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-img img{
    width: 95%;
    border-radius: 50%;
    border: 0.5rem solid var(--main-color);
}
.about-img .circle-spin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 50%;
    border-top: .5rem solid  var(--about-bg-color);
    border-bottom: .5rem solid  var(--about-bg-color);
    border-left:.5rem solid var(--main-color);
    border-right: .5rem solid  var(--main-color);
    animation: aboutSpiner 8s linear infinite;
}
.about-content{
    text-align: center;
}
.about-content h3{
    font-size: 2.6rem;

}
.about-content p{
    font-size: 1.7rem;
    margin: 2rem 0 3rem;
}
.btn-box.btns{
    display: inline-block;
    width: 15rem;
    font-size: 1rem;
}

.education{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
}

.education .education-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}
.education-row .education-column{
    flex: 1 1 40rem;
}
.education .title{
    font-size: 3rem;
    margin-bottom: 1rem;
    

}
.education .title h3{
    justify-content: left;
}
.education .title i{
    color: var(--main-color);
    font-size: 3rem;

}

.education-column .education-box{
    border-left: .2rem solid var(--main-color);
}
.education-box .education-content{
    position: relative;
    padding-left: 2rem;
}
.education-box .education-content::before{
    content: '';
    position: absolute;
    top: 10%;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background: var(--main-color);
    border-radius: 50%;
}
.education-content .content{
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;
}
.education-content .content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:var(--second-bg-color);
    z-index: -1;
    transition: .5s;
}
.education-content .content:hover:before{
    width: 100%;
}
.education-content .content .year{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--main-color);
    /* padding-bottom: .5rem; */
}
.education-content .content .year i{
    padding-right: .5rem;
}
.education-content .content h3{
    font-size: 3rem;
    font-weight: 500;
    color: var(--text-color);
    
}
.education-content .content p{
    font-size: 1.5rem;
    font-weight: 400;
}
.skills{
    min-height: auto;
    padding-bottom: 7rem;
    background: var(--about-bg-color);
}
.skills .skills-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}
.skills-row .skills-column{
    flex: 1 1 40rem;
}
.skills-column .title{
    font-size: 2.5rem;
    margin: 0 0 1.5rem;
}
.skills-column .title i{
    color: var(--main-color);
}
.skills-box .skills-content{
    position: relative;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    padding: .5rem 1.5rem;
    z-index: 1;
    overflow: hidden;  
}
.skills-box .skills-content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:var(--bg-color);
    z-index: -1;
    transition: .5s;
}
.skills-box .skills-content:hover::before{
    width: 100%;
}
.skills-content .progress{
    padding: 1rem 0;
}
.skills-content .progress h3{
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
}
.skills-content .progress h3 span{
    color: var(--text-color);
}
.skills-content .progress .bar{
    height: 2.5rem;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
    padding: .5rem;
    margin: 1rem 0;
}
.skills-content .progress .bar span{
    display: block;
    height: 100%;
    border: .2rem;
    background: var(--main-color);
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span{
    width: 70%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span{
    width: 40%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span{
    width: 80%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span{
    width: 70%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(5) .bar span{
    width: 30%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(6) .bar span{
    width: 10%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(7) .bar span{
    width: 30%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span{
    width: 80%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span{
    width: 50%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span{
    width: 60%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span{
    width: 40%;
}

.contact{
    min-height: auto;
    padding-bottom: 7rem;
}
.contact form{
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}
.contact form .input-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input-box .input-field{
    position: relative;
    width: 49%;
    margin: .8rem 0;
} 
.contact form .input-box .input-field input,
.contact form .textarea-field textarea{
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
}
.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder{
    color: var(--text-color);
}
.contact form .focus{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    border-radius: .6rem;
    z-index: -1;
    transition: 0.5s;
}
.contact form .input-box .input-field input:focus~.focus,
.contact form .input-box .input-field input:valid~.focus,
.contact form .textarea-field textarea:focus~.focus,
.contact form .textarea-field textarea:valid~.focus{
    width: 100%;
}
.contact form .textarea-field{
    position: relative;
    margin: .8rem 0 2.7rem;
    display: fllex;
}
.contact form .textarea-field textarea{
    resize: none;
}
.contact form .btn-box.btns .btn{
    cursor: pointer;
    align-items: center;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}
.footer-text p{
    font-size: 1.6rem;
}
.footer-iconTop a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: 5rem;
    z-index: 1;
    overflow: hidden;
}
.footer-iconTop a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:var(--second-bg-color);
    z-index: -1;
    transition: .5s;
}
.footer-iconTop a:hover::before{
    width: 100%;
}
.footer-iconTop a i{
    font-size: 2.4rem;
    color: var(--bg-color);
    transition: .5s;
}
.footer-iconTop a:hover i{
    color: var(--main-color);
}

@media (max-width: 1200px){
    html{
        font-size: 55%;
    }
}
@media(max-width: 991px){
    .header{
        padding: 2rem 4%;
    }
    section{
        padding: 2rem 4% 2rem
    }
    .home{
        padding: 0 4%;
    }
    .footer{
        padding: 2rem 4%;
    }
}
@media (max-width: 786px){
    .header{
        background: var(--bg-color);
    }
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        background: var(--main-color);
        box-shadow: 0 .5rem 1rem rgba(0, 0 , 0, .2);
        z-index: 1;
        transition: .25s ease;
        transition-delay: .25s;
    }
    .navbar.active{
        left: 0;
        transition-delay: 0s;
    }
    .navbar .active-nav{
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0 , 0, .2);
        z-index: -1;
        transition: .25s ease;
        transition-delay: 0s;
    }
    .navbar.active .active-nav{
        left: 0;
        transition-delay: .25s;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        transform: translateX(-20rem);
        transition: .25s ease;
        transition-delay:0s; 
    }
    .navbar.active a{
        transform: translateX(0);
        transition-delay:.25s; 
    }
    .home-imgHover{
        pointer-events: none;
        background: var(--bg-color);
        opacity: .6;
    }
}
@media (max-width: 520px){
    html{
        font-size: 50%;
    }
    .home_content h1 {
        display: flex;
        flex-direction: column;
    }
    .home-sci{
        width: 160px;
    }
    .home-sci a{
        width: 38px;
        height: 38px;
    }
}
@media (max-width: 462px) {
    .home_content h1{
        font-size: 4rem;

    }
    .education{
        padding: 10rem 4% 5rem 5%;
    }
    .contact form .input-box .input-field { 
        width: 100%;
    }
    .footer {
        flex-direction: column-reverse;
    }
    .footer p {
        margin-top: 2rem;
        text-align: center;
    }

}
@media (max-width: 371px){
    .home{
        justify-content: center;
    }
    .home_content{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .btn-box{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .home_content h1 {
        font-size: 3rem;
    }
}


@keyframes homeBgText {
    0%,
    10%,
    100%{
        background-position: -33rem 0;
    }
    65%,
    85%{
        background-position: 0 0;
    }
}

@keyframes homeCursorText {
    0%,
    10%,
    100%{
        width: 0;
    }
    65%,
    78%,
    85%{
        width: 100%;
        opacity: 1;
    }
    75%,
    81%{
        opacity: 0;
    }
}
 @keyframes aboutSpiner {
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
        
    }
 }
